@import 'layout.css';
@import 'resets.css';
ul {
    list-style: none;
}

nav a {
    padding: 0px 10px;
}
.row:has(alert-info) {
    display: none;
}
.alert-info {
    background-color: #33fff5;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    padding: 20px;
}
.container.hero img {
    width: 100%
}
column.main {
    flex: 2 0 0;
}
.column.sub-section {
    font-style: italic;
}

@media (max-width: 500px) {
    .row:has(alert-info) {
        visibility: hidden;
    }
    .row:has(nav) {
        flex-direction: column;
        text-align: center;
    }
    ul.nav-links {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 30px;
    }
    ul.nav-links a {
        background-color: grey;
        display: block;
        padding: 10px 20px;
    }
    .row:has(.main) {
        flex-direction: column;
    }
}