@import "position-lecture-base.css";

    /* This is the file we will use to experiment with flexbox */
.container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

#item-9 {
    position: absolute;
    top: 0px;
    right: -200px;
    height: 100%;
    transition: all ease 0.3s;
}

.container:hover #item-9 {
    right: 0px;
}
/*#item-5 {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    z-index: 1;*/
/*}*/
/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    pointer-events: none;*/
/*    opacity: 0;*/
/*    transition: all ease 0.3s;*/
/*}*/
.container:hover .overlay {
    opacity: 1;
    pointer-events: all;
}